h1 {
    text-align: center;
}

#container {
    background-color: #98d6f7;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #98d6f7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
}